* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.headertitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(105, 67, 23); */
  color: white;
  font-size: large;
  background-color: goldenrod;
  height: 70px;
}

.headertext {
  background-color: brown;
  width: 600px;
  text-align: center;
  padding: 5px;
}

.banner img {
  width: 100%;
}

.mainbanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviecard,
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  background-color: rgb(171, 184, 171);
}

.box p {
  text-align: center;
}

.moviedetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 400px;
  background-color: bisque;
}
.movietext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: bisque;
}
.moviebox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.box img {
  width: 250px;
  border-radius: 10px;
}
.ticketmain {
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
.ticket_details {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  filter: drop-shadow(5px 3px 5px);
}
.tickmov {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tickimg img {
  width: 375px;
  border-radius: 10px;
}
.tickmov button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}
.tickmov button:hover {
  background-color: rgb(201, 18, 18);
}